@{
    ViewData["Title"] = "Ogilvy Health";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HR Office application, Its microservice web app hosted in openshift RedHat cluster as a pod </h1>
    <p>Learn about openshift <a href="https://www.redhat.com/en/technologies/cloud-computing/openshift">building micoroservices apps with Red Had Openshift</a>.</p>
</div>
